<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n"/>
        </layout>
    </appender>
    
    <root>
        <level value="ERROR"/>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>