<div class="container">
	<div id="fui-button" class="pbl"></div>

	<div class="demo-row">
		<div class="demo-title">Address Book</div>
		<div class="demo-content">
			<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
			<div class="row">

				<form class="form-horizontal col-xs-6">

					<div class="form-group">
						<label for="inputEmail" class="control-label col-xs-2">Email</label>
						<div class="col-xs-10">
							<input class="form-control" placeholder="Enter First Name"
							type="text" ng-model="ab.firstName">
						</div>
					</div>

					<div class="form-group">
						<label for="inputPassword" class="control-label col-xs-2">Password</label>
						<div class="col-xs-10">
							<input class="form-control" id="inputPassword"
								placeholder="Password" type="password">
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-10">
							<div class="checkbox">
								<label><input type="checkbox"> Remember me</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-10">
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
					</div>
				</form>

				<form role="form" name="addressForm" ng-submit="addAddressBook(ab)">
					<div class="col-lg-8">
						<input class="form-control" placeholder="Enter First Name"
							type="text" ng-model="ab.firstName" required min="1" /> <input
							class="form-control" placeholder="Enter Last Name" type="text"
							ng-model="ab.lastName" required min="1" /> <input
							class="form-control" placeholder="Enter Phone" type="text"
							ng-model="ab.phone" required min="1" /> <input
							class="form-control" placeholder="Enter Email" type="text"
							ng-model="ab.email" required min="1" />
					</div>
					<button class="btn btn-primary" ng-disabled="!ab"
						ng-hide="editMode" ng-click="addAddressBook(ab)">Add
						Entry</button>
					<button type="btn btn-primary" class="btn btn-primary"
						ng-disabled="!ab" ng-show="editMode"
						ng-click="updateAddressBook(ab)">Save</button>
					<button type="btn btn-primary" class="btn btn-primary"
						ng-click="resetAddressBookField()">Reset</button>
				</form>

			</div>
			<hr />

			<div class="row">
				<div class="col-lg-8">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search"
								id="search-query-3" ng-model="searchAddressBook"> <span
								class="input-group-btn">
								<button type="submit" class="btn">
									<span class="fui-search"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<hr />

			<div class="alert alert-info"
				style="width: 400px; margin-left: 100px;"
				ng-show="addressBooks.length == 0">No address book entry found
			</div>
			<table class="table table-bordered table-striped"
				ng-show="addressBooks.length > 0">
				<thead>
					<tr>
						<th style="text-align: center; width: 25px;">Delete</th>
						<th style="text-align: center; width: 25px;">Update</th>
						<th style="text-align: center;"><a href=""
							ng-click="reverse=!reverse;order('firstName', reverse)">First
								Name</a></th>
						<th style="text-align: center;"><a href=""
							ng-click="reverse=!reverse;order('lastName', reverse)">Last
								Name</a></th>
						<th style="text-align: center;"><a href=""
							ng-click="reverse=!reverse;order('phone', reverse)">Phone
								Number</a></th>
						<th style="text-align: center;"><a href=""
							ng-click="reverse=!reverse;order('email', reverse)">Email</a></th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="addressBook in addressBooks | filter:searchAddressBook">
						<td style="width: 70px; text-align: center;"><button
								class="btn btn-mini btn-danger"
								ng-click="deleteAddressBook(addressBooks.indexOf(addressBook))">Delete</button></td>
						<td style="width: 70px; text-align: center;"><button
								class="btn btn-mini btn-danger"
								ng-click="editAddressBook(addressBooks.indexOf(addressBook), addressBook)">Update</button></td>
						<td>{{addressBook.firstName}}</td>
						<td>{{addressBook.lastName}}</td>
						<td>{{addressBook.phone}}</td>
						<td>{{addressBook.email}}</td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-danger" ng-show="addressBooks.length >= 1"
				ng-click="deleteAllAddressBook()">Delete All Address Book</button>
		</div>
		<!-- /.demo-content -->
	</div>
	<!-- /.demo-row -->
</div>
<!-- /.container -->

